<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>controller.User.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlertController</servlet-name>
        <servlet-class>controller.Alert.AlertController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTransactionController</servlet-name>
        <servlet-class>controller.Transaction.CreateTransactionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAlertController</servlet-name>
        <servlet-class>controller.Alert.CreateAlertController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAlertController</servlet-name>
        <servlet-class>controller.Alert.UpdateAlertController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAlertController</servlet-name>
        <servlet-class>controller.Alert.DeleteAlertController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAlertController</servlet-name>
        <servlet-class>controller.Alert.SearchAlertController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>StockController</servlet-name>
        <servlet-class>controller.stock.StockController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateStockController</servlet-name>
        <servlet-class>controller.stock.CreateStockController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateStockController</servlet-name>
        <url-pattern>/CreateStockController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteStockController</servlet-name>
        <servlet-class>controller.stock.DeleteStockController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteStockController</servlet-name>
        <url-pattern>/DeleteStockController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateStockController</servlet-name>
        <servlet-class>controller.stock.UpdateStockController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateStockController</servlet-name>
        <url-pattern>/UpdateStockController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StockController</servlet-name>
        <url-pattern>/StockController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlertController</servlet-name>
        <url-pattern>/AlertController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTransactionController</servlet-name>
        <url-pattern>/CreateTransactionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAlertController</servlet-name>
        <url-pattern>/CreateAlertController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAlertController</servlet-name>
        <url-pattern>/UpdateAlertController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAlertController</servlet-name>
        <url-pattern>/DeleteAlertController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAlertController</servlet-name>
        <url-pattern>/SearchAlertController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
